<launch>
      <!-- 设置包名 -->
      <arg name="file_dir" default="recorded_data" />
      <arg name="file_name" default="rosbag" />
      <arg name="start_time" default="0" />
      <arg name="scene" default="null" />

      <!-- /ego_planner_node/ring_buffer/occupied -->

      <!-- /topo_planner/surface_frontier_clusters_marker -->
      <!-- 启动rosbag记录 -->
      <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
            args="-O $(arg file_dir)/$(arg file_name).bag 
                  /planning/position_cmd

                  /ego_planner_node/global_list
                  /ego_planner_node/optimal_list
                  /map_generator/global_cloud
                  /planning/next_point_pub_
                  /planning/next_pos
                  /planning/next_tour_point
                  /planning/path_points
                  /planning/position_cmd_vis
                  /planning/travel_traj
                  /planning_vis/trajectory
                  /quad0_odom_visualization/robot
                  /quad_0/lidar_slam/odom
                  /topo_planner/current_direction_marker
                  /topo_planner/failed_viewpoints_marker
                  /topo_planner/following_surface_frontier_cluster_marker
                  /topo_planner/global_path_marker
                  /topo_planner/max_gain_viewpoint_marker
                  /topo_planner/viewpoint_clusters_marker
                  /topo_planner/viewpoint_with_frontiers_marker"/>
</launch>