<launch>
    <!-- 设置包名 -->
    <arg name="file_dir" default="recorded_data" />
    <arg name="file_name" default="rosbag_next_point" />

    <!-- 启动rosbag记录 -->
    <node pkg="rosbag" type="record" name="rosbag_record_next_point" output="screen"
          args="-O $(arg file_dir)/$(arg file_name).bag 
            /next_point" />
</launch>