# 该文件需要放在指定的上下文目录中！！！

# uav_simulator/local_sensing/data/*
# cascadePID/data/*
# map_generator/resource/*
# exploration_data_files/*

# !map_generator/resource/.gitkeep
# !exploration_data_files/.gitkeep
# !exploration_data_files/rosbag/.gitkeep