uav_simulator/local_sensing/data/*
cascadePID/data/*
map_generator/resource/*
exploration_data_files/*
rosbag/*

!map_generator/resource/.gitkeep
!exploration_data_files/.gitkeep
!exploration_data_files/rosbag/.gitkeep
!rosbag/.gitkeep